@import 'colors';
@import 'dimens';

//////////////////
//List indicators
//////////////////

.lastVisit {
    text-align: center;
    color: $primary-text-color;
    font-size: var(--font-large);
    font-weight:bold;
    margin: var( --tiny-gap );
    padding: var( --small-gap );
    background: $card-highlighted-background;
    margin-left: (-var( --large-gap ));
    margin-right:(-var( --large-gap ));
    border-radius: var( --tiny-gap );
}

//////////////
//Posts
//////////////

.posts {
    margin-left: var( --small-gap );
    display: flex;
    flex-direction: column;
}

//////////////
//Author
//////////////

.container
{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

.author {
    font-size: var(--font-large);
    margin: var( --tiny-gap );
    padding: var( --small-gap );
    background: $card-background;
    border-radius: var( --insignificant-gap );
    border-top-left-radius: var( --small-gap );
}

.noPostsContainer
{
    font-size: var(--font-large);
    margin: auto;
    font-weight: bold;
    margin-left: var( --score-width);
    padding-bottom: var( --small-gap )
}


.subscribedAuthor
{
    @extend .author;
    background: $card-highlighted-background;
}


.authorHeader {
    display: flex;
    margin-bottom: var( --medium-gap );
    font-weight: bold;
    font-size: var(--font-large);
}

.authorHeader a:link,
.authorHeader a:visited,
.authorHeader a:hover
{
    color:$primary-text-color;
}

.nameContainer {
    height:var( --card-line-height );
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: var( --tiny-gap );
    margin-right: var( --tiny-gap );
}

.subreddit
{
    color: $hidden-text-color;
    font-weight: normal;
    display:flex;
    align-items:center;
    flex-shrink: 0;
    font-size: var(--font-small);
    margin-top: var( --insignificant-gap );
}
.subreddit a:link,
.subreddit a:visited,
.subreddit a:hover
{
    @extend .subreddit;
    margin-top:0px;
    margin-left:var( --tiny-gap );
}


.subscriptionButton {
    height: var( --card-line-height );
    width: var( --card-line-height );
    //pointer-events: none;   //Otherwise click does not propagate to parent
    cursor: pointer;
}

.subscribeButton
{
    @extend .subscriptionButton;
    stroke: $background-text-color;
    fill: transparent;
    stroke-width: var( --stroke-width );
}

.subscriptionButtonContainer
{
    height: var( --card-line-height );
    width: var( --card-line-height );
}

.unsubscribeButton
{
    @extend .subscriptionButton;
    fill: $subscribed-highlight-color;
}

/////////////////////////
//More posts
////////////////////////

.morePostsContainer
{
    font-weight: bold;
    padding-left: var( --small-gap );
    margin-top: var( --small-gap );
    color:$interactive-text-color;
    cursor: pointer;

    display: flex;
}

//Because centering stuff has to be such a pain
.morePostsInnerContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.morePostsButton
{
    
    height: var( --small-icon-size );
    width: var( --small-icon-size );
    margin-right: var( --small-gap );
    fill: $interactive-text-color;
}

///////////////////////////
//Subscription subreddits
///////////////////////////

//Because centering stuff has to be such a pain
.displaySubredditsButtonContainer
{
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.displaySubredditsButton
{
    height:var( --small-icon-size );
    width:var( --small-icon-size );
    margin-right: var( --tiny-gap );
    fill: $subscribed-highlight-color;
    cursor: pointer;
}

.subscriptionsContainer
{
    //Offset by width normally consumed by the score column
    margin-left: var( --score-width );
}

    
///////////////////////
// Mobile
////////////////////////

@media only screen and (max-width: 1100px)
{
    .posts {
        margin-left: 0;
    }

    .author
    {
        margin: var( --tiny-gap );
        margin-right: 0px;
        margin-left: 0px;

        padding-left: var(--tiny-gap);
    }

    .authorHeader {
        padding-left: var(--tiny-gap);
    }

    .morePostsContainer
    {
        //Match center to subscribe button / score column
        padding-left: calc( var( --tiny-gap ) +  var(--tiny-icon-size) );
    }
}
