$body-background: #252525;

$card-background: #0c0c0c;
$card-highlighted-background: #0c0c0c;

$card-shadow-color: #050505;

$card-button-color: #131d27;


$button-indicator-color: #294d70;
$button-highlight-color: #4784c2;
$menu-highlight-color: #162029;
$nested-highlight-color: #1d2a35;

$bright-text-color: #4f9eee;
$primary-text-color: #4a95df;

$interactive-text-color:#4c6c8a;

$highlighted-text-color: #e0e0e0;
$normal-text-color: #898989;
$background-text-color: #636363;
$hidden-text-color: #353535;

$subscribed-highlight-color: #ffd900;

$upvote-color-toned-down: #ff9100;

$upvote-color: #ff9100;
$downvote-color: #006eff;

$hidden-element-color: #1a1a1a;
$raised-element-color: #1d1d1d;

$input-background-color: #141c26;
$input-text-color: #4784c2;
$input-placeholder-color: #4784c2;

$safe: #264564;
$danger: #a12626;
$sketchy: #e7a008;

$toast-text-color: #353535;
