@import 'dimens';

%button
{
    padding-left:var( --small-gap );
    padding-right:var( --small-gap );
    height: var( --header-height ); //Buttons normally only go in the header
    color: var(--highlighted-text-color);

    display:Flex;
    flex-direction: column;

    font-weight: bold;

    background: var(--card-background);
    
    cursor: pointer;

    justify-content: center;

    font-size: var(--font-medium);
    text-align: center;
}

%outlinedButton
{
    @extend %button;
    background: var(--hidden-text-color);
    margin: var( --tiny-gap );
    border-radius: var( --tiny-gap );
}

%popup
{
    padding:var( --small-gap );
    border: var( --insignificant-gap ) solid var(--highlighted-text-color);
    background: var(--card-background);
    width:100%;
}
