@import 'colors';
@import 'common';
@import 'dimens';


////////////////
// subreddit popup container
///////////////

.container
{
    @extend %popup;

    display:flex;
    flex-direction: column;
    justify-content: center;

}

.messageContainer
{
    margin:var( --small-gap );
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.titleContainer
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-large);
}

.buttonContainer
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.saveButton
{
    width:100%;
    margin:var( --tiny-gap );
    @extend %outlinedButton;
}

.cancelButton
{
    width:100%;
    margin:var( --tiny-gap );
    @extend %outlinedButton;
}