:root
{
    //////////////////////
    // Gloal
    ///////////////////////

    --insignificant-gap: 3px;
    --tiny-gap: 5px;
    --small-gap: 10px;
    --medium-gap: 15px;
    --large-gap: 20px;

    --stroke-width: 10px;

    --tiny-icon-size: 10px;
    --small-icon-size: 20px;

    --loading-icon-size: 100px;

    --site-min-width: 850px;

    --loading-bar-width: 200px;

    /////////////////////
    // Header
    ////////////////////

    --header-height: 50px;
    --upper-header-height: 80px;    //Mobile only
    --logo-size: 60px;
    --header-separator-size: 10px;

    --header-button-underline-height: -3px;
    --header-sub-button-height: 30px;

    --header-menu-button-height:40px;

    --star-size: 25px;

    ////////////////////////
    // card
    ////////////////////////

    --small-card-max-width: 420px;
    --large-card-max-width: 1200px;

    --score-width: 40px;
    --card-line-height: 40px;


    --card-image-height: 35px;
    --card-image-width: 50px;   // height * 1.4

    --card-small-image-height: 20px; //Must match title font height
    --card-small-image-width: 30px; //height * 1.4. 

    ////////////////////////// 
    // Post
    //////////////////////////

    --post-spacing: 4px;

    ////////////////////////// 
    // subreddit dropdown
    //////////////////////////

    --dropdown-menu-min-width: 520px;

    ////////////////////////
    // Message 
    ////////////////////////

    --message-top-margin: 30px;
    --message-card-corner-width: 70px;
    --message-card-corner-height: 40px;

    ///////////////////////////////////////////////////
    // I guess font-size keywords are useless now
    //////////////////////////////////////////////////////

    //This is the root font size. Changing this changes everything.
    //DO NOT override with media queries
    font-size: 100%;

    //Change these instead
    --font-small: 0.8rem;
    --font-medium: 1rem;
    --font-large: 1.2rem;
    --font-x-large: 1.5rem;
    --font-xx-large: 2rem;
}


//Mobile portrait
@media only screen and (max-width: 1100px ) and ( max-aspect-ratio: 4/3 )
{
   :root
   {
        font-size: 30px;
        --post-spacing: 10px;

        --insignificant-gap: 5px;
        --tiny-gap: 15px;
        --small-gap: 25px;
        --medium-gap: 35px;
        --large-gap: 40px;

        --card-image-height: 80px;
        --card-image-width: 112px;   // height * 1.4

        --card-small-image-height: 45px; //Must match title font height
        --card-small-image-width: 68px; //height * 1.5. 

        --star-size: 45px;
        --card-line-height: 80px;
        --small-card-max-width: 100%;
        --large-card-max-width: 100%;
        --score-width: 70px;
        --header-height: 80px;
        --header-menu-button-height:60px;
        --upper-header-height: 70px;    //Mobile only
        --logo-size: 100px;
        --tiny-icon-size: 20px;
        --small-icon-size: 40px;


        --message-top-margin: 30px;
        --message-card-corner-width: 140px;
        --message-card-corner-height: 80px;
        --header-button-underline-height: -6px;
        --header-sub-button-height: 80px;
   }
}

//Mobile landscape. Basically everything above divided by 2.
@media only screen and (max-width: 1100px ) and ( min-aspect-ratio: 4/3 )
{
   :root
   {
        font-size: 15px;
        --post-spacing: 5px;

        --insignificant-gap: 2.5px;
        --tiny-gap: 7.5px;
        --small-gap: 12.5px;
        --medium-gap: 17.5px;
        --large-gap: 20px;

        --card-image-height: 40px;
        --card-image-width: 56px;   // height * 1.4

        --card-small-image-height: 22.5px; //Must match title font height
        --card-small-image-width: 34px; //height * 1.5. 

        --star-size: 22.5px;
        --card-line-height: 40px;

        --score-width: 35px;
        --header-height: 40px;
        --header-menu-button-height:30px;
        --upper-header-height: 35px;    //Mobile only
        --logo-size: 50px;
        --tiny-icon-size: 10px;
        --small-icon-size: 20px;


        --message-top-margin: 15px;
        --message-card-corner-width: 70px;
        --message-card-corner-height: 50px;
        --header-button-underline-height: -3px;
        --header-sub-button-height: 40px;
   }
}
