@import 'colors';
@import 'dimens';
@import 'common';
////////////////
//Header
///////////////

.header {
    display: block;
    background: $card-background;
    height: auto;
    min-height: $header-height;
    

}


.spacer
{
    height:10px;
    width:10px;
    background: $body-background;
    margin-bottom:auto;
}

.headerBrand
{
    width: fit-content;
    padding:10px;
    overflow:visible;
    color: $normal-text-color;

    font-weight: bolder;
    font-size: large;
}

.sortButton
{  
    @extend %button;
    font-size: large;
}

.sortButtonActive
{  
    @extend .sortButton;
    //background: $body-background;

    box-shadow:0px -3px 0px $button-highlight-color inset;

    /*
    border-bottom: 5px solid rgb(233, 21, 21);
    outline-style: outset;
    outline-color: yellow;
    */
}


.headerItem
{
    width: fit-content;
    padding:10px;

    font-weight: bold;
    font-size: normal;
}

.headerLeft
{
    float:left;
    width:fit-content;
    display: flex;
    flex-direction: row;
}

.headerRight
{
    float:right;
    display: flex;
    flex-direction: row;
    padding-right:20px;
}

.headerClear
{
    clear: both;
}