@import 'colors';
@import 'dimens';

.container
{
    margin-top: var( --message-top-margin );
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: var(--font-large);
    color: $highlighted-text-color;
}


.title
{   
    font-size: var(--font-xx-large);;
    font-weight: bold;
    margin-bottom: var( --small-gap );
}

.row
{
    margin-top: var( --tiny-gap );
    display: flex;
    flex-direction: row;
    align-items: center;
}

.corner
{
    display: flex;
    flex-direction: row;
    align-items: center;

    

    width: var( --message-card-corner-width ) ;
    height:var( --message-card-corner-height );
    border-top-left-radius: var( --small-gap );
    background: $card-background;
}

.caret
{
    margin: auto;
}

.hidden
{
    opacity: 0.25;
}

.rowMessageCenterer
{
    display: flex;
    flex-direction: column;
    align-content: left;
}

.rowMessage
{
    white-space: nowrap;
    padding-left: var( --small-gap );
    font-weight: bold;
}

.spanRow
{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.spacer
{

    height:var( --large-gap );
}

.loginContainer
{
    max-width:var( --small-card-max-width );
    width: 100%;
    padding-top: var( --large-gap );
    padding-bottom: var( --large-gap );
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    background: $card-background;

    border-radius: var( --small-gap );
    box-sizing: border-box;
}

.wideLoginContainer
{
    @extend .loginContainer;
    min-width:var( --small-card-max-width );
}

.hiddenLoginContainer
{
    @extend .loginContainer;
    opacity: 0.1;
}

.loginContainerOuter
{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.rememberMeContainer
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: var(--font-medium);

}

.paragraphContainer
{
    background: $card-background;

    max-width:var( --small-card-max-width);

    border-radius: var( --small-gap );

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var( --large-gap );
}

.linkContainer
{
    margin-top: var(--small-gap);
    display: flex;
    flex-direction: row;
}

.link
{
    background: $card-background;
    padding: var(--small-gap);
    margin: var(--small-gap);
    border-radius: var( --insignificant-gap );
    font-weight: bold;
    
}

.paragraphTitle
{
    font-weight: bold;
    text-align: left;
}

.leftAlign
{
    text-align: left;
}

.starParagraphMargin
{
    margin-left: var(--tiny-gap);
    margin-right: var(--tiny-gap);
}

///////////////////////
// Mobile
////////////////////////

@media only screen and (max-width: 1100px)
{
    .loginContainer {
        border-radius: 0px;
    }

    .paragraphContainer {
        width: 100%;
        border-radius: 0px;
    }
}