@import 'colors';
@import 'dimens';
@import 'common';

.container
{
    display: flex;
    flex-direction: column;
    //margin-bottom: var( --small-gap );
}

.responseContainer
{
    display: flex;
    flex-direction: row;
}

.genericButton
{
    @extend %button;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: var( --small-gap );
    margin-right: var( --small-gap );
    margin-top: var( --insignificant-gap );
    margin-bottom: var( --insignificant-gap );


    border-radius: var( --insignificant-gap );

    font-size: var( --font-large);
}

.genericButton:hover
{
    background: $menu-highlight-color;
}


.dangerButton
{
    @extend %button;
    margin: var( --small-gap );
    border-radius: var( --insignificant-gap );
    border-top-left-radius: var( --small-gap );
    border-top-right-radius: var( --small-gap );
    background: $danger;
    margin-bottom: 0px;
}

.dropdownContainer
{
    //background: $card-shadow-color; 
    box-shadow: inset 0 5px 20px 0 $card-shadow-color;
}

.subButton 
{
    @extend %button;
    
    margin: var( --small-gap );
    //border-radius: var( --small-gap );

    border-radius: var( --insignificant-gap );
    border-bottom-left-radius: var( --small-gap );
    border-bottom-right-radius: var( --small-gap );
}

.dangerSubButton
{
    @extend .subButton;
    //border-bottom-left-radius: var( --small-gap );
    width: 50%;
    background: $danger;
    margin-right: var( --tiny-gap );

    //margin-left: var( --small-gap );
}



.safeSubButton
{
    @extend .subButton;
    //border-bottom-right-radius: var( --small-gap );
    width: 50%;
    background: $safe;

    margin-left: var( --tiny-gap );


    //margin-right: var( --small-gap );
}

.safeSubButton:hover
{
    box-shadow: inset 0 0 5px 0px #000000;
}

.dangerSubButton:hover
{
    box-shadow: inset 0 0 5px 0px #000000;
}