@import 'colors';
@import 'dimens';

//////////////
//Posts
//////////////

.postContainer {
    flex: 1;
    font-size: var(--font-small);
    display: flex;
    flex-direction: row;
    margin-bottom: var(--post-spacing);
    color: $normal-text-color;
}

.topPostContainer 
{
    font-size: var(--font-medium);
    color: $highlighted-text-color;
}


.postLinkContainer 
{
    flex: 1;
    display: flex;
    flex-direction: row;
}


.postLink
{
    margin-right: var( --tiny-gap );
    display: contents;
}

//Link is ignoring margin, add span instead
.postLinkRightMargin
{
    margin-right: var( --tiny-gap );
}

.titleAndInfoSeparator
{
    //Doesn't do anything else though
    margin: 0px;
}

.infoContainer
{
    display: inline-block;
}

.postColumn {
    display: flex;
    flex-direction: column;
}

.post a:link  {
    color: $normal-text-color;
}
.post a:visited  {
    color: $background-text-color;
}

.post
{
    font-weight: bold;
    margin-right: var( --tiny-gap );

}

.topPostContainer a:link,
.topPostopPostContainert a:visited,
.topPostContainer a:hover
{
    color: $highlighted-text-color;

}

.postedDate 
{
    display: inline-block;
    color: $hidden-text-color;
    font-weight: normal;
    text-align: center;
    margin-right: var( --insignificant-gap );
}

.subreddit
{
    display: inline-block;
    color: $hidden-text-color;
    font-weight: normal;
    text-align: center;
    margin-right: var( --insignificant-gap );
}

.comments
{
    display: inline-block;
    color: $hidden-text-color;
    font-weight: normal;
    text-align: center;
}

.comments a:link,
.comments a:visited,
.comments a:hover
{
    color: $hidden-text-color;
}

.subreddit a:link,
.subreddit a:visited,
.subreddit a:hover
{
    color: $hidden-text-color;
}

.scoreContainer {
    text-align: center;
    //color: $background-text-color;
    font-weight: normal;
    width:var( --score-width );
    flex-shrink: 0;
    margin-left:var( --medium-gap );
    margin-right:var( --medium-gap );
}

.topScoreContainer
{
    @extend .scoreContainer;
    font-weight: bold;
}

.postReadContainer
{
    width: var( --star-size );
    flex-shrink: 0;
}

.voteScoreImageAligner
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.voteScoreImageAlignerOuter
{
    margin-top: 0px;
}



.voteIndicator {
    height: var( --small-icon-size );
    width: var( --small-icon-size );
    fill: transparent;
    stroke: transparent;
    stroke-width:var( --stroke-width );

    margin-left: auto;
    margin-right: auto;

    //Inline svg weirdness
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upvote
{
    @extend .voteIndicator;
    stroke:transparent;
    fill: $upvote-color;
}

.downvote
{
    @extend .voteIndicator;
    stroke:transparent;
    fill: $downvote-color;
}

.flair
{
    font-weight: 800;
    padding-left: var( --tiny-gap );
    padding-right: var( --tiny-gap );
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: var( --tiny-gap );
    color: $background-text-color;
    background: $raised-element-color;
}

.nsfw_flair
{
    @extend .flair;
    color: $danger;
}

.spoiler
{
    @extend .flair;
    color: $sketchy;
}

.postTitlecenterer
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageVerticalCenter
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageContainer
{
    height: (var( --card-image-height ));
    width:  var( --card-image-width ) ;
    margin-right: var( --small-gap );
    overflow: hidden;
}

.tinyImageContainer
{
    height:( var( --card-small-image-height ) );
    width:  var( --card-small-image-width ) ;
    margin-right: var( --small-gap );
    overflow: hidden;
}

.image 
{
    width:  var( --card-image-width ) ;
    height: auto;
}

.tinyImage 
{
    width:  var( --card-small-image-width ) ;
    height: auto;
}


    
///////////////////////
// Mobile
////////////////////////


@media only screen and (max-width: 1100px)
{
    .scoreContainer {
        margin-left:0px;
        margin-right:var(--tiny-gap);
    }

    .imageContainer
    {

        margin-right: var( --tiny-gap );
    }

    .tinyImageContainer
    {
        margin-right: var( --tiny-gap );
    }

    .voteIndicator {
        height: var( --tiny-icon-size );
        width: var( --tiny-icon-size );
        margin: auto;
    }
}

