@import 'colors';
@import 'dimens';

.container
{
    height:var( --header-height );
    display: block;

    overflow:visible;

    width:fit-content;

    z-index: 1;
}

.selectedContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:100%;
    //background: $card-background;
    cursor: pointer;

    padding-left: var( --large-gap );
    padding-right:var( --large-gap );

    fill: $interactive-text-color;
}

.selectedContainer:hover 
{
    fill: $button-highlight-color;
    color: $bright-text-color;
}

.selected
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left:var( --small-gap );
    padding-right:var( --tiny-gap );
    text-align: left,center;
    font-weight: bold;
    font-size: var(--font-large);
}

.expandButtonContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expandButton
{
    height: var( --small-icon-size );
    width: var( --small-icon-size );
    
    //Controlled by parent element so we can change with hover
    //fill: $interactive-text-color;
}


    
///////////////////////
// Mobile
////////////////////////


@media only screen and (max-width: 1100px)
{
    .selectedContainer {
        padding-left: var( --tiny-gap );
        padding-right:var( --tiny-gap );
    }


}


