@import 'colors';
@import 'dimens';
@import 'common';


html {
    min-width: var(--site-min-width);
    position:relative;
}



body {
    color: #eeeeee;
    background: $body-background;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;

    //absolute background
    z-index: -10;
    margin: 8px;
    margin-left:0px;
    margin-right:0px;
    
    box-sizing: border-box;
}

.siteContainer
{

    display: flex;
    flex-direction: column;
}

html, body
{
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

a:link
{
    color: #eeeeee;
    text-decoration: none;
}

a:visited
{
    color: #eeeeee;
    text-decoration: none;
}

a:hover
{
    color: #eeeeee;
    text-decoration: underline;
}

.headerButton {
    background: $card-background;
}

.contentOuterContainer {

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contentContainer {

    width:100%;
    max-width: var( --large-card-max-width );

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginContainer {
    display: flex;
    flex-direction: row;
    height: 100%;

    
}



.button
{  
    @extend %button;
}

.outlinedButton
{
    @extend %button;
    background: $hidden-text-color;
}

.activeButton
{
    background: $body-background;
}

.loadingStatus
{
    font-size: var(--font-x-large);
    font-weight: bold;
    text-align: center;
    margin-top:var( --message-top-margin );
    margin-bottom:var( --message-top-margin );
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: var( --tiny-gap );
    font-size: var(--font-large);
    padding: var( --medium-gap ) var( --medium-gap ) var( --medium-gap ) var( --medium-gap );
    color: $input-text-color;
    background: $input-background-color;
}

input[type=text]:hover::placeholder
{

    color: $bright-primary-text-color;
}

::placeholder 
{
    color: $input-placeholder-color;
    opacity:1;
}

.inputContainer
{
    display:flex;
    flex-direction: row;
    justify-content: center left;

    font-size: var(--font-large);
    font-weight: bold;
    padding: var( --tiny-gap );
}


.overlappingOuterContainer
{
    position: relative;
    height:auto;
}

.loadingImage
{
    height:var( --loading-icon-size );
    width: var( --loading-icon-size );

}

////////////////////////// 
// Progress bars 
//////////////////////////

.loadingProgressContainer
{
    margin: var( --small-gap );
    height: var( --small-gap );
    width: var( --loading-bar-width );
    display:flex;
}

// Loading progress

.loadingProgressBar
{
    float: left;
    height: var( --small-gap );
    background: $upvote-color;
    transition: flex 0.2s linear;
}

// Time progress

.timeProgressBar
{
    float: left;
    width: 0px;
    height: var( --small-gap );
    background: $upvote-color;
}

.timeProgressBarFull
{
    width: var( --loading-bar-width );
}

.InfoPopup
{
    position:relative;
    overflow: visible;

    font-size: var(--font-small);
    float: left;
    width: auto;
    background: $input-background-color;
    padding: var( --tiny-gap );
    padding-left:var( --small-gap );
    padding-right:var( --small-gap );
    font-weight: 600;

    color: $highlighted-text-color;

    border-radius: var( --tiny-gap );
    border: 1px solid $normal-text-color;
}

.infoPopupArrow
{
    transform: rotate(45deg);
    position: absolute;
    margin-top:auto;
    width:  calc( var(--star-size) * 0.35 );
    height: calc( var(--star-size) * 0.35 );
    background: $input-background-color; 
    border-right: 1px solid $normal-text-color;    
    border-bottom: 1px solid $normal-text-color;    
    left: calc( var(--star-size) * 0.3 );   // Not cool, but should stay consistent
}

//Hide all checkboxes
input[type=checkbox] {
    width: var(--small-icon-size);
    height: var(--small-icon-size);
    position: absolute;
    opacity: 0;
    margin: 0px;
    padding: 0px;
}

//And place them inside this
.checkboxContainer
{
    position: relative;
    width: var(--small-icon-size);
    height: var(--small-icon-size);
    background: $raised-element-color;
    border-radius: var(--insignificant-gap);
    border: 1px solid $normal-text-color;
    cursor: pointer;
}

.checkboxContainer:hover
{
    background: $card-button-highlight-color;


}

.checkBox
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: var(--small-icon-size);
    height: var(--small-icon-size);
    margin: 0px;
    fill: transparent;
}

.checkBoxChecked
{
    @extend .checkBox;
    fill: $upvote-color;
}

.cardButton
{
    @extend .button;
    background: $card-button-color;
    border-radius: var(--insignificant-gap);
}

.cardButton:hover 
{
    background: $card-button-highlight-color;
}

a.cardButton
{
    text-decoration: none;
}


@media only screen and (max-width: 1100px)
{

    body 
    {
        margin: 0px;
    }

}
