@import 'colors';
@import 'common';


////////////////
// subreddit popup container
///////////////

.container
{
    @extend %popup;

    display:flex;
    flex-direction: column;
    justify-content: center;

}

.nameRow
{

    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    font-size: xx-large;
    margin:10px;
}

.nameColumn
{
    @extend .nameRow;
    flex-direction: column;
}

.nameContainer
{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.inputContainer
{
    background: $raised-element-color;
    margin: 5px;
}

.numberInputContainer
{
    background: $raised-element-color;
    width:auto;
    padding: 5px;
}

.buttonContainer
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.saveButton
{
    width:100%;
    margin:5px;
    @extend %outlinedButton;
}

.cancelButton
{
    width:100%;
    margin:5px;
    @extend %outlinedButton;
}