
@import 'colors';
@import 'dimens';

.subredditsContainer
{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left:0px;
}

.subscriptionSubredditContainer
{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;

    color: $highlighted-text-color;

    margin-left: var( --small-gap );
    margin-right: var( --small-gap );
    border-radius: var( --insignificant-gap );
}

.subscriptionSubredditContainer:hover
{
    background: $menu-highlight-color;
    color: $bright-text-color;
}

.itemContainer
{
    margin-top: var( --small-gap);
    margin-bottom: var( --small-gap);
}

.subscriptionSubredditInnerContainer
{
    width: auto;
    display: flex;
    flex-direction: row;
}

.searchContainer
{
    width: auto;
}

.searchBox 
{
    position: relative;
}

.searchIndicatorContainer 
{
    position: absolute;
    width: var(--star-size);
    // background: red;
    right: var(--small-gap);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}



.searchingIndicator 
{
    height: var(--star-size);
    width: var(--star-size);
    fill: $bright-primary-text-color;   // Match input active color

    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.altBox
{
    width:auto;
    //color: $background-text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: var( --small-gap );
    padding-left:var( --small-gap );
    font-weight: bold;
    color: $interactive-text-color;
    cursor: pointer;
    white-space: nowrap;

    font-size: var(--font-small);

    border-bottom-right-radius: var( --insignificant-gap );
    border-top-right-radius: var( --insignificant-gap );

}

.altBox:hover
{
    background: $nested-highlight-color;
}


.searchBarSpacer
{
    width:auto;
    height:var( --tiny-gap );
}

.subscriptionSubreddit
{

    
   // width: 200px;

    display: flex;
    flex-direction: row;
    text-align: left;

    border-radius: var( --small-gap );

    margin: var( --small-gap );

    cursor: pointer;

    font-size: var(--font-large);

    //border: 2px solid $hidden-text-color;

}

.popupContainer
{
    background: $card-background;
    min-width: var( --dropdown-menu-min-width );

    border-left: 2px solid $hidden-text-color;
    border-right: 2px solid $hidden-text-color;
    border-bottom: 2px solid $hidden-text-color;

    border-bottom-right-radius: var( --tiny-gap );
    border-bottom-left-radius: var( --tiny-gap );

    //border: 2px solid $hidden-text-color;
}

.modalPopupContainer
{
    @extend .popupContainer;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.popupContainer input[type=text] 
{
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}


.indicatorContainer
{
    height: var( --card-line-height );
    width: var( --card-line-height );

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}



.subscriptionIndicator {
    //List lines should basically match cards
    height: var( --star-size );
    width: var( --star-size );

    cursor: pointer;
}

.subscribeIndicator
{
    @extend .subscriptionIndicator;
    stroke: $background-text-color;
    fill: transparent;
    stroke-width: 11;

}

.hiddenIndicator
{
    @extend .subscriptionIndicator;
    stroke: transparent;
    fill: transparent;
}

.unsubscribeIndicator
{
    @extend .subscriptionIndicator;
    fill: $subscribed-highlight-color;
}

.subscribedSubreddit
{
    @extend .subscriptionSubreddit;
    color: $subscribed-highlight-color;
   // border: 2px solid $subscribed-highlight-color;
}


@media only screen and (max-width: 1100px)
{
    .popupContainer
    {    
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }


}

