@import 'colors';
@import 'dimens';

.notification_background
{
    background: var(--card-background);
}

.warning_background
{
    background: var(--sketchy);
}

.error_background
{
    background: var(--danger);

}

.text
{
    color: var(--toast-text-color);
    font-size: var(--font-medium);
    font-weight: bold;
}

.smallText
{
    @extend .text;
    font-size: var(--font-small);
}

.columnContainer
{
    display: flex;
    flex-direction: column;
}