@import 'colors';
@import 'dimens';

.notification_background
{
    background: $card-background;
}

.warning_background
{
    background: $sketchy;
}

.error_background
{
    background: $danger;

}

.text
{
    color: $toast_text_color;
    font-size: var(--font-medium);
    font-weight: bold;
}

.smallText
{
    @extend .text;
    font-size: var(--font-small);
}

.columnContainer
{
    display: flex;
    flex-direction: column;
}