@import 'colors';
@import 'dimens';

.container
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: var(--tiny-gap);
}

.item
{


     color: var(--highlighted-text-color);
     text-align: center;
     border-radius: var( --tiny-gap );
     margin: var( --small-gap );
     padding:var( --small-gap );
 
     cursor: pointer;
     font-size: var(--font-large);
}

.item:hover
{
    background: var(--menu-highlight-color);
}

.itemSelected
{
    @extend .item;
    background: var(--safe);
}

.itemSelected:hover
{
    background:  var(--safe);
}


///////////////////////
// Mobile
////////////////////////

@media only screen and (max-width: 1100px)
{
    .item
    {
        margin: 0px;
    }


}
