@import 'colors';

.container
{
    display:flex;
    flex-direction: column;
    
}

.row
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.description
{
    color: $highlighted-text-color;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    padding:10px;

    font-size: large;
}

.popupContainer
{
    background: $card-background;
    min-width: 400px;
    border-left: 2px solid $hidden-text-color;
    border-right: 2px solid $hidden-text-color;
    border-bottom: 2px solid $hidden-text-color;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}