@import 'colors';
@import 'dimens';
@import 'common';

.container
{
    display:flex;
    flex-direction: column;
    //margin-top: var(--small-gap);
    margin-bottom: var(--small-gap);
    
}


.genericButton
{
    @extend %button;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: var( --small-gap );
    margin-right: var( --small-gap );
    margin-top: var( --insignificant-gap );
    margin-bottom: var( --insignificant-gap );

    border-radius: var( --insignificant-gap );

    font-size: var( --font-large);


}

a.genericButton:hover
{
    text-decoration: none;
}

.genericButton:hover
{
    color: $bright-text-color;
    background: $menu-highlight-color;
}

.button
{
    @extend %button;
    background: transparent;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;

    z-index: 1;

    height: var( --header-menu-button-height );
    width:  var(--header-menu-button-height );
}

.headerButtonContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: var( --small-gap);
}

.button:hover 
{
    stroke:  $bright-text-color;
    fill: $bright-text-color;
}

.popupContainer
{
    background: $card-background;
    min-width: var( --dropdown-menu-min-width );
    border-left: 2px solid $hidden-text-color;
    border-right: 2px solid $hidden-text-color;
    border-bottom: 2px solid $hidden-text-color;
    border-bottom-right-radius: var( --tiny-gap );
    border-bottom-left-radius: var( --tiny-gap );
}

.loginContainer
{
    @extend .genericButton;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

.loginButton
{
    @extend .genericButton;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: transparent;
}

//I don't care anymore
.rememberMeCenterer
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rememberMeContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: var(--font-medium);
    font-weight: bold;
    white-space: nowrap;

    margin-top: var( --insignificant-gap );
    margin-bottom: var( --insignificant-gap );

}

.rememberMeText
{
    margin-left: var(--small-gap);
}

.mobilePopupPositioner
{
    top: calc( var(--header-height) + var(--tiny-gap) );
    left: 0px;
}

///////////////////////
// Mobile
////////////////////////

@media only screen and (max-width: 1100px)
{
    .button
    {
        height: var( --header-menu-button-height );
        width:  var(--header-menu-button-height );
    }

    .popupContainer
    {
        background: $card-background;
        min-width: var( --dropdown-menu-min-width );
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid $hidden-text-color;
        border-radius: 0px;
    }

    .description
    {
        margin: 0px;
    }

}