@import 'colors';
@import 'dimens';
@import 'common';

.container
{
    display:flex;
    flex-direction: column;
    margin-top: var(--small-gap);
    margin-bottom: var(--small-gap);
    
}


.genericButton
{
    @extend %button;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: var( --small-gap );
    margin-right: var( --small-gap );
    margin-top: var( --insignificant-gap );
    margin-bottom: var( --insignificant-gap );

    border-radius: var( --insignificant-gap );

    font-size: var( --font-large);


}

a.genericButton:hover
{
    text-decoration: none;
}

.genericButton:hover
{
    color: $bright-text-color;
    background: $menu-highlight-color;
}

.button
{
    @extend %button;
    background: transparent;
    margin: auto;
    padding: 0px;
    padding-left: var( --small-gap);

    height: calc( var( --header-height ) - (var( --small-gap ) * 2) );
    width:  calc( var( --header-height ) - (var( --small-gap ) * 2) );
}

.button:hover 
{
    stroke:  $bright-text-color;
    fill: $bright-text-color;
}

.popupContainer
{
    background: $card-background;
    min-width: var( --dropdown-menu-min-width );
    border-left: 2px solid $hidden-text-color;
    border-right: 2px solid $hidden-text-color;
    border-bottom: 2px solid $hidden-text-color;
    border-bottom-right-radius: var( --tiny-gap );
    border-bottom-left-radius: var( --tiny-gap );
}

///////////////////////
// Mobile
////////////////////////

@media only screen and (max-width: 1100px)
{
    .button
    {
        height: calc( var( --header-height ) - (var( --tiny-gap ) * 2 ) );
        width:  calc( var( --header-height ) - (var( --tiny-gap ) * 2 ) );
    }

    .popupContainer
    {
        background: $card-background;
        min-width: var( --dropdown-menu-min-width );
        border: 2px solid $hidden-text-color;

        border-radius: var( --tiny-gap );
    }

    .description
    {
        margin: 0px;
    }

}