.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
buildServer/
buildClient/
*.js
*.js.map
/node_modules/*
.data/
.bin/
obj/
css/*scss.d.ts
logs/

config.ts
server_config.ts
jwtRS256.key
jwtRS256.key.pub

!/migrations/*